.form-heading {
  font-size: 32px;
  height: 10%;
  color: white;
  margin-bottom: 30px;
}

.submit-button, .demo-login {
  background-color: red;
  border-radius: 5px;
  color: white;
  padding: 5px;
  font-size: 20px;
  width: 99%;
  box-shadow: none;
  border-color: transparent;
}

.demo-login:hover {
  cursor: pointer;
}

.submit-button:hover {
  cursor: pointer;
}


.session-form {
  background-color: transparent;
  background: #000000BF;
  top: 50%;
  left: 50%;
  width: 30%;
  height: 500px;
  border-radius: 4px;
  padding: 40px;
  background-blend-mode: normal;
  color: white;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}



.session-form-container {
  display: block;
  text-align: center;
}

.input-field {
  background-color: #454545;
  border-radius: 5px;
  color: white;
  padding: 5px;
  font-size: 16px;
  width: 94%;
  height: 23px;
  border-color: transparent;
}

.or {
  text-align: center;
  padding: 5px;
}

.error-text {
  color: orange;
  font-size: 12px;
  padding-bottom: 2px;
}

.form-buttons {
  padding-top: 35px;
}

.account-link {
  padding-top: 15px;

}

.link {
  color: white;
}

.link:hover {
  color: red;
  cursor: pointer;
}

.link:visited {
  color: gray;
}

