.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  color: white;
  height: 90px;
  padding: 10px;
  margin: 0 auto;
  background: rgb(0, 0, 0);
  background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
}

.right-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  float: right;
  height: inherit;
  padding: 5px;
}


.logo {
  height: inherit;
  width: 150px;
  float: left;
}


.foobar {
  position: relative;
  font-size: 27px;
  padding-right: 20px;
}

.foobar > ul {
  /* display: none; */
  list-style: none;
  position: absolute;
  top: 40px;
  right: 20px;
  width: 600%;
  background-color: #000000BF;
  font-size: 20px;
  border: 2px solid cornflowerblue;
}


.foobar > ul > li {
  padding: 5%;

}

.foobar:hover {
  display: block;
  cursor: pointer;
}


