.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  color: white;
  height: 90px;
  padding: 10px;
  margin: 0 auto;
  background: rgb(0, 0, 0);
  background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
}

.right-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  float: right;
  height: inherit;
  padding: 5px;
}


.logo {
  height: inherit;
  width: 150px;
  float: left;
}

.nav-button {
  background-color: red;
  border-radius: 5px;
  color: white;
  padding: 7px 17px;
  font-size: 16px;
  width: 100px;
  height: 40px;
  margin: 8px;
  box-shadow: none;
  border-color: transparent;
  cursor: pointer;
}