
.genre-container {
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 5px;
  height: 240px;
}  

.title {
  color: white;
  font-size: 14px;
  padding: 10px;
} 

.video-title {
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  justify-content: flex-start;

}

.video-container {
  position: relative;
  border-radius: 3px;
  padding: 2.5px;
  height: 240px;
  width: 320px;
  overflow: hidden;

}

.hidden {
  display: none;
  color: white;

}

.hidden p {
  margin: 0;
}



.video {
  object-fit: cover;
  border-radius: 3px;
}

.video-container:hover .hidden {
  position: absolute;
  display: block;
  z-index: 3000;
  background-color: #333;
  width: 320px;
  height: 60px;
}
.main-video {
  position: absolute; 
  top: -1px; 
  left: -1px;
  width: calc(100% + 2px); 
  height: calc(100% + 2px);
} 

.rating-good {
  text-align: center;
  font-size: 10px;
  color: green;
}
.rating-bad {
  text-align: center;
  font-size: 10px;
  color: red;
}

.rating-good-show {
  color: green;
}

.rating-bad-show {
  color: red;
}

.genre {
  color: white;
}

.main-video-container {
  position: relative; 
  padding-bottom: 56.25%;   
  overflow: hidden; 
}

video::-webkit-media-controls {
        opacity: 0
}
video::-webkit-media-controls:hover {
        opacity: 1
}

.pop-movies {
  border-bottom-style: solid;
  border-bottom-color: red;

}


